<table class="table table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>Total reservation</th>
      <th>Total acheteur</th>
      <th>Age moyen</th>
      <th>Prix moyen par spectacle</th>
      <th>Prix moyen par client</th>
      <th>Prix moyen par panier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @reservation_number %></td>
      <td><%= @client_number %></td>
      <td><%= @average_age %></td>
      <td><%= @average_prix %></td>
    </tr>
  </tbody>
</table>